# Ambiente virtual
venv/
env/
.env*

# Cache Python
__pycache__/
*.py[cod]
*$py.class

# Distribuição / empacotamento
dist/
build/
*.egg-info/

# IDEs e editores
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Arquivos do sistema
.DS_Store
Thumbs.db

# Python
*.so
.Python
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
.installed.cfg
*.egg

# Supabase
.branches
.temp

# dotenvx
.env.keys
.env.local
.env.*.local

